.App input,
.App button {
  margin: 20px;
  padding: 10px 20px;
  border: 2px solid gray;
  background-color: #fff;
  transition: 0.3s;
}

.App button {
  cursor: pointer;
}
.App button:hover {
  background-color: #000;
  color: white;
  border-color: black;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
  color: aliceblue;
  padding: 20px;
}

.App-header {
  margin-bottom: 50px;
}

.App-description {
  margin-bottom: 50px;
  color: #56a4a4;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}
